<!DOCTYPE html>
<html>
  <head>
    <title>YourBnB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/23a6930115.js" crossorigin="anonymous"></script>
    
    <script type="text/javascript">
      window.lakeIcon = "<%= image_url('lake.png') %>"
      window.beachIcon = "<%= image_url('beach.png') %>"
      window.cabinIcon = "<%= image_url('cabin.png') %>"
      window.campingIcon = "<%= image_url('camping.png') %>"
      window.islandIcon = "<%= image_url('island.png') %>"
      window.arcticIcon = "<%= image_url('arctic.png') %>"
      window.treehouseIcon = "<%= image_url('treehouse.png') %>"
      window.surfboardIcon = "<%= image_url('surfboard.png') %>"
      window.nationalparkIcon = "<%= image_url('nationalpark.png') %>"
      window.swimmingpoolIcon = "<%= image_url('swimmingpool.png') %>"
      window.iconiccityIcon = "<%= image_url('iconiccity.png') %>"
      window.barnIcon = "<%= image_url('barn.png') %>"
      window.caveIcon = "<%= image_url('cave.png') %>"
      window.sliderIcon = "<%= image_url('slider-icon.png') %>"
    </script>

   
    <%= favicon_link_tag asset_path('favicon.ico') %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
