<!DOCTYPE html>
<html>
  <head>
    <title>YourBnB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/23a6930115.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" type="image/png" href="../../assets/images/favicon.png" />
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
