<!DOCTYPE html>
<html>
  <head>
    <title>yourbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/b3e0cb7f61.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <link
      rel="stylesheet"
      type="text/css"
      charset="UTF-8"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"
    />

    

    <script type="text/javascript">
      window.lakeIcon = "<%= image_url('lake.png') %>"
      window.beachIcon = "<%= image_url('beach.png') %>"
      window.cabinIcon = "<%= image_url('cabin.png') %>"
      window.campingIcon = "<%= image_url('camping.png') %>"
      window.islandIcon = "<%= image_url('island.png') %>"
      window.arcticIcon = "<%= image_url('arctic.png') %>"
      window.treehouseIcon = "<%= image_url('treehouse.png') %>"
      window.surfboardIcon = "<%= image_url('surfboard.png') %>"
      window.nationalparkIcon = "<%= image_url('nationalpark.png') %>"
      window.swimmingpoolIcon = "<%= image_url('swimmingpool.png') %>"
      window.iconiccityIcon = "<%= image_url('iconiccity.png') %>"
      window.barnIcon = "<%= image_url('barn.png') %>"
      window.caveIcon = "<%= image_url('cave.png') %>"
      window.countrysideIcon = "<%= image_url('countryside.png') %>"
      window.skiingIcon = "<%= image_url('skiing.png') %>"
      window.golfingIcon = "<%= image_url('golfing.png') %>"
      window.castleIcon = "<%= image_url('castle.png') %>"
      window.vineyardIcon = "<%= image_url('vineyard.png') %>"

      window.sliderIcon = "<%= image_url('slider-icon.png') %>"
      window.thunderIcon = "<%= image_url('thunder.png') %>"
      window.test = "<%= image_url('test.png') %>"
      window.aircover = "<%= image_url('misc/aircover.png') %>"
    </script>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
